//wide screens

@include mediaXl{
    .projects{
        grid-template-columns: repeat(4, 1fr);
    }

}

//desktop and laptops screens
@include mediaLg{
    .projects{
        grid-template-columns: repeat(3,1fr);
    }

}

//Tablets screen
@include mediaMd{
    #bg-img{
        height: 100vh;
        overflow: hidden;
    }

    main{
        align-items: center;
        text-align: center;
    }

    .lg-heading{
        line-height: 1;
        margin-bottom: 1rem;
    }

    ul.menu-nav,
    div.menu-branding{
        float: none;
        width: 100%;
        min-height: 0;

        &.show{
            transform: translate3d(0,0,0);
        }

    }

    .menu-nav{
        height: 70vh;
        transform: translate3d(-100%, 0,0);
        font-size: 12px;
    }

    .menu-branding{
        height: 30vh;
        transform: translate3d(100%, 0,0);

        .portrait{
            width: 150px;
            height: 150px;
        }
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    //about-info
    .about-info{
        grid-template-areas: 
        "bio-img bio"  
        "job-1 job-2"
        "job-3 job-3";
        
        grid-template-columns:repeat(2, 1fr) ;
    }



}

//smartphones screen
@include mediaSm{
    h1{
        &.lg-heading{
            font-size: 4rem;
        }
    }

    main#home h1{
        margin-top: 10vh;
    }
    //skills
    main#about .skills-info{
        display: grid;
        grid-template-columns: 1fr;
    }

    //about-info
    .about-info{
        grid-template-areas: 
        "bio-img" 
        "bio" 
        "job-1"
        "job-2" 
        "job-3";
        grid-template-columns:1fr ;
    }

    .projects{
        grid-template-columns: 1fr;
    }
    
}